.panel{
    width: 60%;  
    height: auto;  
}

.form-control{
    width: 100%;
}

.ul{
   width:25%;
}

label{
    font-size: 12px;
}

#selectPesquisa{
    width: 30%;
    margin-left: 85%;
    margin-bottom: 5%;
}
#buttonPesquisa{     
    margin-bottom: 10%;
    margin-left: 5%;
}

#lblData{
    margin-left: 20%;
    width: 5%;
}

#inputPesquisaData{
    width: 100%;
    margin-left: 0px;
}

.panel .row .btn{
    margin-left: 70%; 
    margin-bottom: 10%
}

.panel-body .row #btnRemove{
    background-color: #8B1A1A;  
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.input-group{
    margin-left: 25%;
    width: 70%;
    margin-bottom: 5%;
}