.container-fluid img{    
    margin-left: 30%; 
    height: 25%;
    width: 50%;
 } 

.red{
    color:red;
    }
.form-area
{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
}

.container{
    margin-left: 30%;
}