.panel{
    height: auto;
    width: auto;
    margin-left: 25%;
}

h1{
    font-size: 16px;
}

/*Alterar tamanho do botão do modal*/
#select-num{    
    width: 4%;
    height: 4%;
    padding-bottom: 3%;
    padding-right: 2%;  
}

/*Alterar tamanho do input de quantidade de convites do modal*/
#num{
    width: 6%;
    height: 6%;
    margin-bottom: 2%;
}

/*Configura botão para abrir modal*/
.btn{
    margin-left: 10%;
    margin-bottom: 10%;
}

/*Configura tamanho dos campos de inputs receberao valores do banco*/
#modal-valor{
    margin-left: 2%;
}

/*Configura label do modal*/
#label{
    margin-left: 5%;
}

.modal-body{
    height: auto;
    width: auto;    
}

/*Configura conteúdo do modal*/
#panel-default{
    width: auto;
    height: auto;        
}

#row{
    margin-bottom: 2%;
}

.row button,
a .btn{  
    background-color: #0000CD;
    color:#fff;        
  }

#btnRemove{
    background-color: #8B1A1A;  
}