.panel{    
    width: 70%;
    margin-left: 20%;
}

h1{
    font-size: 16px;
}

h5{
    font-weight: bold;
}

/*Alterar tamanho do botão do modal*/
#select-num{    
    width: 4%;
    height: 4%;
    padding-bottom: 3%;
    padding-right: 2%;  
}

/*Alterar tamanho do input de quantidade de convites do modal*/
#num{
    width: 6%;
    height: 6%;
    margin-bottom: 2%;
}

/*Configura botão para abrir modal*/
.btn{
    margin-left: 10%;
    margin-bottom: 10%;
}

/*Configura tamanho dos campos de inputs receberao valores do banco*/
#modal-valor{
    margin-left: 2%;
}

/*Configura label do modal*/
#label{
    margin-left: 5%;
}

/*Configura conteúdo do modal*/
#panel-default{
    width: auto;
    height: auto;        
}

#row{
    margin-bottom: 2%;
}

.row button,
a .btn{    
    float: right;  
    background-color: #0000CD;
    color:#fff;   
    margin-left: 90%;
    margin: 0px;      
  }

#btnRemove{
    background-color: #8B1A1A;  
}

/*Botão on-off*/
.toggle {
    margin-bottom: 20px;
}

.toggle > input {
    display: none;
}

.toggle > label {
    position: relative;
    display: block;
    height: 28px;
    width: 52px;
    background-color: #f7f7f7;
    border: 1px #a2e3e6 solid;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.toggle > label:after {
    position: absolute;
    left: 1px;
    top: 1px;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 100px;
    background: #fff;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
    content: '';
    transition: all 0.3s ease;
}
.toggle > label:active:after {
    transform: scale(1.15, 0.85);
}
.toggle > input:checked ~ label {
    background-color: #4cda64;
    border-color: #4cda64;
}
.toggle > input:checked ~ label:after {
    left: 25px;
}
.toggle > input:disabled ~ label {
    background-color: #d5d5d5;
    pointer-events: none;
}
.toggle > input:disabled ~ label:after {
    background-color: rgba(255, 255, 255, 0.3);
}

div .panel-default{
    height: auto;
}