.panel{
    width: 60%;
    height: auto;   
    margin-left: 20%;  
}

.panel-body{
    padding-bottom: 1%;
}
/* Altera tamanho dos campos inputs de cadastro de evento*/
.form-control{
    width: 95%;
    margin-top: 5%;       
}

#valor{
   width: 15%;
   margin-top: 0%;  
}

/*Define tamanho das colunas dos campos com id 'valor'*/
#valorDiv{  
  width: 10%;  
}
 
#select{
    width: 50%;
}

#select-num{
    width: 15%;
}

#textarea{
   height: 25%;
}

label{   
    margin-top:5%;
    font-size: 12px;
}

h5{
    font-weight: bold;
    color: #708090;
}

.row .btnParcela{
    margin-left: 0;
}

.container .row .parcela{
    width: 100%;
}

/*Botão on-off*/
.toggle {
    margin-bottom: 20px;
}

.toggle > input {
    display: none;
}

.toggle > label {
    position: relative;
    display: block;
    height: 28px;
    width: 52px;
    background-color: #f7f7f7;
    border: 1px #a2e3e6 solid;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.toggle > label:after {
    position: absolute;
    left: 1px;
    top: 1px;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 100px;
    background: #fff;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
    content: '';
    transition: all 0.3s ease;
}
.toggle > label:active:after {
    transform: scale(1.15, 0.85);
}
.toggle > input:checked ~ label {
    background-color: #4cda64;
    border-color: #4cda64;
}
.toggle > input:checked ~ label:after {
    left: 25px;
}
.toggle > input:disabled ~ label {
    background-color: #d5d5d5;
    pointer-events: none;
}
.toggle > input:disabled ~ label:after {
    background-color: rgba(255, 255, 255, 0.3);
}