body
{
  height: auto;
  width: 100%;
  padding:0px;
  background-color:#F5F5DC;  
}

body #navbar{
  position: fixed; 
  height: 100%;
  min-width:60px;
  padding-bottom: 100%; 
  background:rgba(0,0,0,0.3);
  border-right: #E8E8E8;
  border-right-style: double; 
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

body #navbar .btn{
  background-color: #fff;
  border: double #A9A9A9;
  color: #808080;  
  margin:20%;
}

nav.main-menu {  
width: 27%;
min-width: 250px;
max-width: 300px;
opacity:1;
font-size: 1em;
overflow-y: auto; 
height:100%;
box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.main-menu {
background:rgba(0,0,0,0.3);
position:fixed;
top:0;
bottom:0;
height:100%;
overflow:hidden;
-webkit-transition:width .2s linear;
transition:width .2s linear;
-webkit-transform:translateZ(0) scale(1,1);
box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
opacity:1;
display:none;
color:#fff;
}

.main-menu .navbarConteudo{
  margin-top: 1%; 
}

.main-menu .btn-info{
  background-color: #fff;
  border: double #A9A9A9;
  color: #808080;
}

.navbarConteudo img{
  height: 30%;
  width: 60%;
  margin-left: 10%;
}

.main-menu #btnFixaMenu{
  margin-left: 5%;
}

.main-menu ul a{
  font-weight: bold;
  font-size: 100%;
  color: #fff; 
  margin-left: 0%;  
}

.main-menu ul span{ 
  margin-right: 5%;  
}

.main-menu ul {
 margin-bottom: 5%; 
}

.navbarConteudo .perfil label{
  margin-left: 5%;
}

.navbarConteudo .perfil ul{
  margin-bottom: 0;  
}

.panel{
  height: auto;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

section{
  height: 120%;
  width: 100%;
  padding-top: 5%;
}

footer {
  margin-top: 100%;  
  margin-bottom: 0px; 
  width:100%;

}

footer p{
  height: 5%;
  text-align: center; 
  background-color: #f8f8f8;
  padding-top: 1%;
  padding-bottom: 1%;  
}

.panel-heading h3{
  font-weight: bold;
  color: #708090;
}

.panel-body .row a{
  display: inline;
  margin-left: 5%;     
}

/* Altera tamanho dos campos inputs de cadastro de usuário*/
.form-control{
  width: 100%;
}

.modal-backdrop.in{
  display: none;
}

.panel .btn{
  margin-top: 5%;
  background-color: #0000CD;
  color:#fff;
}

