
.panel .panel-body #btnRemove{
    background-color: #8B1A1A;  
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.input-group{
    margin-left: 25%;
    width: 50%;
    margin-bottom: 5%;
}

.