.container{
    height: 80%;
    width: 70%;    
}

#loginConteudo{
    height: 60%;
    border: #A9A9A9;
    border-style: double;
    padding: 3%;    
    background: rgba(0,0,0,0.3);    
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    margin-top: 10%;
    margin-left: 25%;
}

#wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

p.form-title
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

form
{
    width: 250px;
    margin: 0 auto;
}

form.login input[type="text"], form.login input[type="password"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}

form.login input[type="submit"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.login a
{
    color: #fff;
    transition: color 0.5s ease;
}

form.login a:hover
{
    color: #2ecc71;
}

#cadastrar-se{
    font-weight: bold;
    margin-top: 15%;       
}