.panel{
    width: 40%;
    height: auto;
    margin-left: 30%;     
}

form div input[type="password"],
form div input[type="email"],
form div input[type="text"]{
    border-left: none;
    border-right: none;
    border-top: none;
    box-shadow: none;   
}

form button{
    margin-left: 80%;
}

h6{
    font-weight: bold;
}

form div label{
    color:#708090;
}

.panel-body>.btn{
    display: inline;
    margin-left: 70%; 
    background-color: #8B1A1A;     
}