<html ng-app="myApp">
  <head>
  	<title>Enjoy it!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>  
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width"> 
    <link rel="icon" type="image/x-icon" href="/favicon.ico">  

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"> 
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular/ngMask.min.js"></script>   
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    
    <script src="/router.js"></script>
    <script src="/controllers/Usuarios.js"></script>	
    <script src="/controllers/Eventos.js"></script>
    <script src="/controllers/Recibo.js"></script>   
    <script src="/controllers/EventosSalvos.js"></script> 
    <script src="/controllers/Vagas.js"></script> 
    <script src="/controllers/VagasSalvas.js"></script> 
    <script src="/controllers/Emails.js"></script>   
    <script src="/controllers/Contatos.js"></script>    
    
    <link rel="stylesheet" href="css/usuario.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/index.js"></script> 
    
  </head>

  <body ng-model="navbar" ng-controller="UsuariosController">

    <div href="#" onmouseover="mostra();" onmouseout="esconde();" id="navbar" style="z-index:2;"> 
    	<a href="#" class="btn btn-info btn-md" id="btnMenu">
        <span class="glyphicon glyphicon-menu-hamburger"></span> 
      </a>
	    <nav class="main-menu" id="conteudo">	    		        	
	      	<div class="navbarConteudo">	      		      			      		
	      	  <img src="img/logotipo.png">
	      	  <a class="btn-info btn-sm" id="btnFixaMenu" onclick="fixarMenu()">
          		<span class="glyphicon glyphicon-pushpin"></span> 
            </a> 

            <ul><a href="#/ajuda" ng-click="verUsuario()"> <span class="glyphicon glyphicon-question-sign"></span>Ajuda</a></ul>
            

            <ul><a href="#/sobre" ng-click="verUsuario()"> <span class="glyphicon glyphicon-info-sign"></span>Sobre</a></ul>            
            
            <ul><a href="#/contato" ng-click="verUsuario()"> <span class="glyphicon glyphicon-phone-alt"></span>Contato</a></ul>            
		     
		        <ul><a ng-click="verUsuario()" href="#/listar/eventos/adicionados"><span class="glyphicon glyphicon-home"></span>Home</a></ul>              

		        <ul><a href="#/add/evento" ng-click="verUsuario()"><span class="glyphicon glyphicon-edit"></span>Cadastrar Evento</a></ul>

		        <ul><a href="#/listar/eventos/cadastrados" ng-click="verUsuario()"> <span class="glyphicon glyphicon-list-alt"></span>Eventos que cadastrei</a></ul>

		        <ul><a href="#/listar/eventos/salvos" ng-click="verUsuario()"> <span class="glyphicon glyphicon-saved"></span>Eventos Salvos</a></ul>

            <ul><a href="#/listar/eventos" ng-click="verUsuario()"> <span class="glyphicon glyphicon-search"></span>Buscar Outros Eventos</a></ul>

            <ul><a href="#/listar/vagas/salvas" ng-click="verUsuario()"> <span class="glyphicon glyphicon-save-file"></span>Vagas de Serviços Salvas</a></ul>
                        
            <hr> 
          
            <div class="perfil">
              <label>Perfil</label>
              <ul><a href="#/detalhes/usuario" ng-click="verUsuario()"><span class="glyphicon glyphicon-user"></span>Meu Cadastro</a></ul>

              <ul><a ng-click="logoutUsuario()"><span class="glyphicon glyphicon-share-alt"></span>Logout</a></ul>              
            </div>
		      </div>	    
    	</nav>    	
   	</div>   
    <section style="z-index:1;">
      <div class="container-fluid wrap push">     
	      <div class="row">
	      	<div class= "col-lg-12 col-xs-12">
          	<div ng-view></div>
        	</div>	        
	    	</div>
    	</div> 
    </section>   

	<footer>       
	    <p class="copyright text-muted small">Copyright &copy; @Larissa 2017. Todos os direitos reservados</p>
	</footer>      

  </body>
</html>
  
  

