<link rel="stylesheet" href="css/gerencia_evento.css">

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Cadastre seu Evento</h3>
  </div>

<div class="panel-body">
  <form ng-submit="addEvento()" class="col-md-12">
      <div class="formAddEvento"></div>
      <div class="row">
        <div class="col-md-12"><button type="submit"  class="btn btn-default">Cadastrar</button></div>
        <div class="col-md-12"><input type="reset"  class="btn btn-default" value="Limpar"></div> 
      </div>      
  </form>      
</div> 
  
  <h6>&nbsp &nbsp Os campos com (*) devem ser obrigatoriamente preenchidos!</h6> 
</div>
  
<style>
    .modal-backdrop.in{
    display: none;
  }
  </style>