<link rel="stylesheet" href="css/usuario.css">  

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Cadastre-se</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <form ng-submit="addUsuario()" name="myForm">                    
          <div class="formAddUsuario"></div>
          <button type="submit" class="btn btn-default">Cadastrar</button>
          <input type="reset" class="btn btn-default" value="Limpar">
        </form>        
      </div>
    </div>    
  </div>
  <h6>&nbsp &nbsp Os campos com (*) devem ser obrigatoriamente preenchidos!</h6>
</div>

<style>
    .modal-backdrop.in{
    display: none;
  }
  </style>