<link rel="stylesheet" href="css/usuario.css">

<div class="panel panel-default" style="height: auto">
  <div class="panel-heading">
    <h3 class="panel-title">Divulgue vagas de serviços em seus eventos!</h3>
  </div>

  <div class="panel-body">
    <form ng-submit="addVaga()" class="col-md-12">
        <div class="formAddVaga"></div>
        <div class="row">
          <div class="col-md-12">
            <button type="submit"  class="btn btn-default">Cadastrar</button>
            <div class="col-md-12"><input type="reset"  class="btn btn-default" value="Limpar"></div> 
          </div>
        </div>        
    </form>      
  </div>
</div>
  
<style>
    .modal-backdrop.in{
    display: none;
  }
  </style>