<style>
    .row h4{
        margin-bottom: 3%;
    }
    .row p{
        margin-bottom: 3%;
    }

    .container-fluid img{    
   margin-left: 30%; 
   height: 25%;
   width: 50%;
}

</style>

<div class="container-fluid">
    <div class="row">    
        <h2 class="intro-text text-center">Antes de começar...</h2>
        <hr>
        <div class="col-md-5">
            <img class="img-responsive" src="img/logotipo1.png" alt="">
        </div>
        <div class="col-md-6">
            <h4 style="font-weight: bold">Home</h4>
            <p>            
                A página Home exibe os eventos, os quais você comprou um convite                
            </p>
            <hr>
            <h4 style="font-weight: bold">Sobre</h4>
            <p>                
                Contém informações sobre o Enjoy it!                
            </p>
            <hr>
            <h4 style="font-weight: bold">Contato</h4>
            <p>
                Contém informações sobre o Enjoy it!                
            </p>
            <hr>
            <h4 style="font-weight: bold">Cadastrar evento</h4>
            <p>
                Permite que você cadastre um novo evento que ficará disponível para os outros usuário acessarem, 
                comprarem convites, salvá-los ou ainda enviar mensagem com intenção de comparecimento em uma vaga de serviço.                
            </p>
            <hr>
            <h4 style="font-weight: bold">Eventos que cadastrei</h4>
            <p>
                Exibe os eventos cadastrados pelo próprio usuário. Nessa página o usuário pode editar seus eventos, 
                deletar ou ainda cadastrar vagas de serviço nos mesmo.                
            </p>
            <hr>
            <h4 style="font-weight: bold">Eventos que cadastrei</h4>
            <p>
                Exibe os eventos cadastrados pelo próprio usuário. Nessa página o usuário pode editar seus eventos, 
                deletar ou ainda cadastrar vagas de serviço nos mesmo.                
            </p>
            <hr>
            <h4 style="font-weight: bold">Eventos salvos</h4>
            <p>
                Lista os eventos que o usuário salvou em sua lista mas não comprou o convite.                
            </p>
            <hr>
            <h4 style="font-weight: bold">Buscar outros eventos</h4>
            <p>
                Permite que o usuário busque eventos de outros usuários, compre convites, envie mensagens de 
                intenção de comparecimento em vagas de serviços e salve os eventos para poder verificar as 
                informações de maneira mais fácil mais tarde.
            </p>
            <hr>
            <h4 style="font-weight: bold">Vagas de serviços salvas</h4>            
            <p>
                Lista as vagas de serviços salvas pelo usuários para que este possa consultar as informações referentes a mesma
                de maneira mais fácil.
            </p>
        </div>
    </div>
    <hr>
</div>