<link rel="stylesheet" href="css/contato.css">
<script src="js/index.js"></script>
<div class="container-fluid">
    <div class="row">    
        <h2 class="intro-text text-center">Entre em contato com a gente!</h2>
        <hr>
        <div class="col-md-5">
            <img class="img-responsive" src="img/logotipo1.png" alt="">
        </div>
        <div class="col-md-6">
            <h4>
                Envie suas sugestões, críticas dúvidas e comentários para que sua experiência no Enjoy It seja cada vez melhor!
            </h4>
        </div>                    
    </div>   

    <div class="row"> 
        <div class="container">
                <div class="col-md-5">
                    <div class="form-area" ng-controller="ContatosController">  
                        <form role="form">
                        <br style="clear:both">
                                    <h3 style="margin-bottom: 25px; text-align: center;">Formulário de contato</h3>
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="contato.nome" placeholder="Name" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="contato.email" placeholder="Email" required>
                                    </div>                               
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="contato.assunto" placeholder="Assunto" required>
                                    </div>
                                    <div class="form-group">
                                    <textarea class="form-control" type="textarea" id="message" ng-model="contato.mensagem" placeholder="mensagem" maxlength="2000" rows="7"></textarea>
                                        <span class="help-block"><p id="characterLeft" class="help-block ">Você atingiu o limite</p></span>                    
                                    </div>  
                                    <button type="button" id="btnContato" name="submit" class="btn btn-primary pull-right" ng-click="enviarEmailContato()">Enviar e-mail</button>                      
                                    <input type="reset" value="limpar">
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div               
