<link rel="stylesheet" href="css/usuario.css">

<div class="panel panel-default" ng-init="detalhesUsuario()" style="height: 50%"> 

  <div class="panel-heading">
    <h3 class="panel-title">{{usuario.nome}}</h3>
  </div>  

  <div class="panel-body">
    <div class="row">
      <div class="col-md-8">        
        <ul class="list-group">
          <li class="list-group-item">Nome: {{usuario.nome}}</li>
          <li class="list-group-item">CPF/CNPJ: {{usuario.cpf_cnpj}}</li>
          <li class="list-group-item">Telefone Fixo: {{usuario.telefoneFixo}}</li>
          <li class="list-group-item">Telefone Móvel: {{usuario.telefoneMovel}}</li>
          <li class="list-group-item">Setor: {{usuario.setor}}</li>
          <li class="list-group-item">E-mail: {{usuario.email}}</li>
        </ul>        
      </div>
      <a class="btn btn-primary" href="#/editar/usuario/{{usuario.id}}">Editar</a>    
    </div> 
    <a class="btn btn-primary" ng-click="deletarUsuario(usuario.id)">Remover</a>     
  </div>     
</div>

<style>
    .modal-backdrop.in{
    display: none;
  }
  </style>