<link rel="stylesheet" href="css/detalhes_evento.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<button type="button" id="btnComprarIngresso" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Comprar Ingresso</button>
<br>
<br>
<button type="button" id="btnParticipar" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal1">Participar</button>
<br>
<br>  
  <div ng-controller="EventosSalvosController">
    <button  type="button" class="btn btn-info btn-sm" id="ativaBtn" ng-model="ativaBtn" ng-click="addEventoSalvo(evento.id)">Salvar evento na minha lista</button>
  </div>  

    <div class="panel panel-default" ng-init="detalhesEvento()" style="margin-left: 15%">
      <div class="panel-heading">
        <h3 class="panel-title">{{evento.nome}}</h3>
      </div>
      
      <div class="panel-body">
         <div class="formDetalhesEvento"></div> 
      </div>
    </div>

    <div id="myModal" class="modal fade" role="dialog" ng-controller="ReciboController">
      <div class="modal-dialog">  
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h5 class="modal-title">Comprar Ingresso</h5>
            </div>
            
            <div class="modal-body" style="margin-bottom: 15%">
              <h4>Venda Online</h4>             
              <form ng-submit="addRecibo()" > 
                  <div class="formAddRecibo"></div>
                  <button type="submit" class="btn btn-default" data-dismiss="modal" ng-click="addRecibo()">Adicionar</button>            
              </form>
            </div>        
        </div>  
      </div>
    </div>
  </div>

  
<div id="myModal1" class="modal fade" role="dialog" ng-controller="VagasController" ng-init="listarVagas()">
  <div class="modal-dialog" ng-repeat="vaga in vagas">    
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Participar</h4>
        </div>
        
      <div class="modal-body" style="padding-bottom: 10%">                     
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Vagas</h3>
          </div>
              
            <div class="panel-body">            			
                <div class="formListarVagas"></div>            
            </div>
            <button type="button" style="margin:5% 5%" class="btn btn-info btn-sm" id="ativaBtnVaga" ng-model="ativaBtnVaga" ng-click="addVagaSalva()" ng-controller="VagasSalvasController">Salvar vaga em minha lista</button>
            <button type="button" style="margin:5% 0" ng-model="emailForm"  ng-click="emailForm=!emailForm">Enviar e-mail</button>
              
            <div ng-if="emailForm" style="margin-left: 5%">
                <h5>Envie um email</h5>                
              <form ng-controller="EmailsController" class="row">
                <div class="col-md-12">                
                  <label>Nome:</label> 
                    <input type="text" ng-model="email.nome">                  
                </div>
                <div class="col-md-12">                
                    <label>Assunto:</label>                      
                      <input type="text" ng-model="email.assunto">
                  </div>
                <div class="col-md-12">                   
                    <label>Comentário:</label>
                    <textarea ng-model="email.mensagem" cols="30" rows="10"></textarea>                    
                </div>
                <div class="col-md-12" style="margin-left:50%">                    
                    <input type="submit" value="Enviar" ng-click="enviarEmail()">
                    <input type="reset" value="limpar">
                </div>
              </form>        
            </div>         
        </div>    
      </div>        
    </div>  
  </div>
</div>

<style>
    .modal-backdrop.in{
    display: none;
  }
  </style>
