<link rel="stylesheet" href="css/detalhes_eventoAdicionado.css"> 

<div class="row" ng-init="detalhesEventoAdicionado()">
  <div class="col-md-10">
    <div class="panel panel-default">  
      <div class="panel-heading">
        <h3 class="panel-title">{{evento.nome}}</h3>
      </div>

      <div class="panel-body">
        <div class="formDetalhesEvento"></div>
      </div>  
    </div>  

    <div id="myModal"  class="modal fade" role="dialog">
      <div class="modal-dialog">     
        <div class="modal-content" ng-init="listarRecibos()" ng-controller="ReciboController">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Recibo</h4>
          </div>
            
          <div class="modal-body">              
            <div class="panel-body">    
              <div ng-repeat="recibo in recibos">            
                <div class="formListarRecibos"></div>
                <div class="row" id="row">
                  <button type="submit" ng-if="btnAtualizaRecibo" ng-click="editarRecibo(recibo)" class="btn btn-default" >Atualizar</button>                                                     
                </div> 	
              </div>
            </div>          
          </div>        
        </div>  
      </div> 
    </div>   
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Ver Recibo</button>
  </div>  
</div>

<style>
    .modal-backdrop.in{
    display: none;
  }
  </style>