<link rel="stylesheet" href="css/detalhes_evento.css">

<a href="#/editar/evento/{{evento.id}}"><button class="btn btn-default">Editar</button></a>
<br>
<br>
<br>     
<a data-toggle="modal" ng-controller="VagasController" data-target="#myModal" ng-click="verVaga()"><button class="btn btn-default">Adicionar vaga de Emprego</button></a>
<br>
<br>
<br>
<a  ng-click="deletarEvento(evento.id)"><button id="btnRemove" class="btn btn-default">Remover</button></a>

<div class="panel panel-default" ng-init="detalhesEventoCadastrado()">
  <div class="panel-heading">
    <h3 class="panel-title">{{evento.nome}}</h3>
  </div>
  
  <div class="panel-body">
     <div class="formDetalhesEvento"></div> 
  </div>
</div>

<div id="myModal" class="modal fade" role="dialog"  ng-controller="VagasController" ng-init="listarVagasAdicionadas()">
  <div class="modal-dialog">  
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Divulgar Vagas</h4>
      </div>        
      <div class="modal-body">                   
        <div class="panel panel-default" style="margin-left: 0px; width: auto" >
          <div class="panel-heading">
            <h3 class="panel-title">Vagas</h3>
          </div>        
          <div class="panel-body" ng-repeat="vaga in vagas">    
            <div>              
              <div class="formListarVagas" style="margin-bottom: 5%">
              </div>
              <a class="btn btn-primary" href="#/editar/vaga/{{vaga.id}}">Editar</a>                              
              <a class="btn btn-primary" id="btnRemove" ng-click="deletarVaga(vaga.id)">Deletar</a>         
            </div>            
          </div>
          <a class="btn btn-primary" href="#/add/vaga/{{evento.id}}">Adicionar + vagas</a>
        </div>
      </div>                 
    </div>     
  </div>
</div>

<style>
    .modal-backdrop.in{
    display: none;
  }
  </style>