<link rel="stylesheet" href="css/usuario.css">  
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Edit Usuarios</h3>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
          <form ng-submit="editarUsuario()" ng-init="detalhesUsuario()">
              <div class="formEditarUsuario"></div>        
              <button type="submit" class="btn btn-default">Atualizar</button>
          </form>
      </div>
    </div>
  </div>
</div>

<style>
    .modal-backdrop.in{
    display: none;
  }
</style>