<link rel="stylesheet" href="css/gerencia_evento.css">

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Editar Evento</h3>
  </div>
    <div class="panel-body">
      <form ng-submit="editarEvento()" ng-init="detalhesEvento()">
        <div class="formEditarEvento"></div>
        <div class="row"><div class="col-md-12"><button type="submit" class="btn btn-default">Editar</button></div></div>        
      </form>      
    </div>  
</div>
  
<style>
    .modal-backdrop.in{
    display: none;
  }
</style>