<div class="row">              
  <div class="col-md-12"><label>Nome:</label>&nbsp {{event.nome}}</div>
</div> 
     
<div class="row">
  <div class="col-md-6"><label>Cidade:</label>&nbsp{{event.cidade}}</div>  
</div>
  
<div class="row">
  <div class="col-md-6"><label>Tipo:</label>&nbsp {{event.tipo}}</div>
  <div class="col-md-6"><label>Telefone:</label>&nbsp {{event.telefone}}</div> 
</div>
  
  
<div class="row">
  <div class="col-md-6"><label>Email:</label>&nbsp {{event.email}}</div>
  <div class="col-md-6"><label>Duração (dias):</label>&nbsp {{event.duracaoDia}}</div>
</div>
 

<style>
    .modal-backdrop.in{
      display: none;
    }
  </style>