<div class="container-fluid">

    <div class="row">              
        <div class="col-md-12"><label>Nome:</label>&nbsp {{evento.nome}}</div>        
                
        <div class="col-md-3"><label>Data:</label>&nbsp {{evento.data}}</div> 
        <div class="col-md-3"><label>Hora:</label>&nbsp {{evento.hora}}</div> 

        <div class="col-md-3" ng-show="evento.duracao!=null">        
        <label>Duraçao (Horas):</label>&nbsp {{evento.duracao}}</div>

        <div class="col-md-3" ng-show="evento.duracaoDia!=null"><label>Duraçao (Dias):</label>&nbsp {{evento.duracaoDia}}</div>     

            
        <div class="col-md-6" ng-show="evento.categoria!=null"><label>Categoria:</label>&nbsp {{evento.categoria}}</div> 
        <div class="col-md-6" ng-show="evento.tipo!=null"><label>Tipo:</label>&nbsp {{evento.tipo}}</div>      


    <div class="col-md-6" ng-show="evento.cidade!=null"><label>Cidade:</label>&nbsp {{evento.cidade}}</div> 
    <div class="col-md-6" ng-show="evento.cep!=null"><label>CEP:</label>&nbsp {{evento.cep}}</div>


    <div class="col-md-5" ng-show="evento.bairro!=null"><label>Bairro:</label>&nbsp {{evento.bairro}}</div>
    <div class="col-md-5" ng-show="evento.rua!=null"><label>Rua:</label>&nbsp {{evento.rua}}</div>  
    <div class="col-md-2" ng-show="evento.numero!=null"><label>Nº:</label>&nbsp {{evento.numero}}</div>


    <div class="col-md-6" ng-show="evento.email!=null"><label>E-mail:</label>&nbsp {{evento.email}}</div>  
    <div class="col-md-6" ng-show="evento.telefone!=null"><label>Telefone:</label>&nbsp {{evento.telefone}}</div> 

    <div class="col-md-6" ng-show="evento.capacidadeMax!=null"><label>Capacidade Máxima:</label>&nbsp {{evento.capacidadeMax}}</div>
    <div class="col-md-6" ng-show="evento.quantConvites!=null"><label>Quantidade de convites:</label>&nbsp {{evento.quantConvites}}</div> 
    
    <div class="col-md-3" style="margin-top: 2%; margin-bottom: 5%;"><label>Evento gratuito</label></div>
    <div class="col-md-9" style="margin-bottom: 5%">
        <div class="toggle">
            <input type="checkbox" id="gratuito" ng-model="evento.gratuito" ng-true-value="true" ng-false-value="false" disabled>
            <label for="gratuito"></label>
        </div>
    </div>
    
<div ng-if="!evento.gratuito">
    <div class="col-md-12" ng-show="evento.dataVendas!=null"><label>Vendas até:</label>&nbsp {{evento.dataVendas}}</div> 

    <div class="col-md-12" ng-show="evento.locaisFisicos!=null"><label>Locais Físicos de venda:</label>&nbsp {{evento.locaisFisicos}}</div>            
    
    <div class="col-md-2" style="margin-bottom: 5%">
        <h5><label>Venda Online</label></h5>
    </div>
    <div class="col-md-10" style="margin-bottom: 5%">        
        <div class="toggle">
            <input type="checkbox" id="foo" ng-model="evento.vendaOnline" ng-true-value="true" ng-false-value="false" disabled>
            <label for="foo"></label>
        </div>
    </div>

    <div class="col-md-4" style="width: 16%"><h5>Categoria</h5></div>
    <div class="col-md-4"><h5>Valor</h5></div>
    <div class="col-md-12" ng-show="evento.valorHomem!=null"><label style="margin-right: 9%">Homem:</label>{{evento.valorHomem}}</div>
    <div class="col-md-12" ng-show="evento.valorMulher!=null"><label style="margin-right: 10%">Mulher:</label>{{evento.valorMulher}}</div> 
    <div class="col-md-12" ng-show="evento.valorCrianca!=null"><label style="margin-right: 9.5%">Criança:</label>{{evento.valorCrianca}}</div>  
    <div class="col-md-12" ng-show="evento.valorIdoso!=null"><label style="margin-right: 7%">Valor Idoso:</label>{{evento.valorIdoso}}</div>  
    <div class="col-md-12" ng-show="evento.valorEstudante!=null"><label style="margin-right: 5%">Valor Estudante:</label>{{evento.valorEstudante}}</div>
    
    <div class="col-md-12" style="margin:5% 0 5% 0" ng-show="evento.dataLimitePag!=null"><label>Data Limite de Pagamento:</label>&nbsp {{evento.dataLimitePag}}</div>
    <div class="col-md-12"><h5>Pacelamento</h5></div> 

    
        <div class="col-md-2"><label>Valor/Parcela</label></div>      
        <div class="col-md-8"><label>Valor ao lado pode ser parcelado em até:</label></div> 

        <div class="col-md-6" style="width: 30%" ng-show="evento.parcela1!=null"><label>{{evento.parcela1}}</label></div> 
        <div class="col-md-6" ng-show="evento.quanrParcela1!=null"><label>{{evento.quantParcela1}}</label></div>
             
        <div class="col-md-6" style="width: 30%" ng-show="evento.parcela2!=null"><label>{{evento.parcela2}}</label></div> 
        <div class="col-md-6" ng-show="evento.quanrParcela1!=null"><label>{{evento.quantParcela2}}</label></div>
             
        <div class="col-md-6" style="width: 30%" ng-show="evento.parcela3!=null"><label>{{evento.parcela3}}</label></div>
        <div class="col-md-6" ng-show="evento.quanrParcela1!=null"><label>{{evento.quantParcela3}}</label></div>
              
        <div class="col-md-6" style="width: 30%" ng-show="evento.parcela4!=null"><label>{{evento.parcela4}}</label></div>
        <div class="col-md-6" ng-show="evento.quanrParcela1!=null"><label>{{evento.quantParcela4}}</label></div> 
    </div>

        <div class="col-md-12" style="margin-top: 5%" ng-show="evento.descricao!=null"><label>Descrição</label></div>
        <div class="col-md-12">{{evento.descricao}}</div>
    </div>
</div>

<style>
.modal-backdrop.in{
    display: none;
}
</style>
