<input type="text" class="form-control" ng-model="vaga.nome"  placeholder="*Nome" data-error="Preencha este campo" required>
<br> 
<br>     
<input type="text" class="form-control" ng-model="vaga.quantidade"  placeholder="Quantidade de vagas">
<br> 
<textarea class="form-control" ng-model="vaga.descricao" placeholder="Descrição"> </textarea>  
<br>            
<input type="text" class="form-control" ng-model="vaga.categoria" placeholder="Categoria"></input>       
<br> 
<input type="text" class="form-control" ng-model="vaga.valor" placeholder="Valor a pagar R$">
<br>   

<style>
    .modal-backdrop.in{
        display: none;
    }
</style>