<input  type="text" class="form-control" ng-model="usuario.nome" placeholder="*Nome Completo" data-error="Preencha este campo" required></input> 
<br> 
<br>     
<input type="text" class="form-control" ng-model="usuario.cpf_cnpj" placeholder="*CPF ou CNPJ" mask="999.999.999-99" data-error="Preencha este campo" required></input> 
<br> 
<input type="text" class="form-control" ng-model="usuario.telefoneFixo" placeholder="Telefone Fixo" mask="(99) 9999-9999"></input>      
<br>     
<input type="text" class="form-control" ng-model="usuario.telefoneMovel" placeholder="*Telefone Movel" mask="(99) 9-9999-9999" data-error="Preencha este campo" required></input>       
<br>
<label>Setor (Caso seja uma empresa)</label>
<select ng-model="usuario.setor" class="form-control" style="width:50%">
  <option ng-value="Nenhum" ng-selected="true">Nenhum</option>
  <option ng-value="Promotor_Eventos">Promotor de eventos</option>
  <option ng-value="Comercial">Comercial</option>
  <option ng-value="Tecnologico">Tecnologico</option>
  <option ng-value="Educacao">Educacao</option>
  <option ng-value="Outros">Outros</option>
</select>
<br>              
<input type="email" class="form-control" ng-model="usuario.email" placeholder="*E-mail"  data-error="Preencha este campo" required></input>       
<br>
<input type="password" class="form-control"  ng-model="usuario.senha" placeholder="*Senha" data-error="Preencha este campo" required></input> 
<br>   
<input type="password" class="form-control" ng-model="usuario.rsenha" placeholder="*Digite a senha novamente" data-error="Preencha este campo"  required></input> 
<br> 
<div ng-show="usuario.senha!=usuario.rsenha">As senhas devem ser iguais</div>

<style>
  .modal-backdrop.in{
    display: none;
  }
</style>