<input type="text" class="form-control" ng-model="vaga.nome" ng-show="vaga.nome=null" placeholder="*Nome" data-error="Preencha este campo" required>
<br> 
<br>     
<input type="text" class="form-control" ng-model="vaga.quantidade" ng-show="vaga.quantidade!=null" placeholder="Quantidade de vagas">
<br> 
<textarea class="form-control" ng-model="vaga.descricao" ng-show="vaga.descricao!=null" placeholder="Descrição"> </textarea>  
<br>            
<input type="text" class="form-control" ng-model="vaga.categoria" ng-show="vaga.categoria!=null" placeholder="Categoria"></input>       
<br> 
<input type="text" class="form-control" ng-model="vaga.valor" ng-show="vaga.valor!=null" placeholder="Valor a pagar R$">
<br>   

<style>
    .modal-backdrop.in{
        display: none;
    }
</style>