<link rel="stylesheet" href="css/recibo.css">
<div class="container-fluid">
<div class="row">
        <label class="col-md-2">Homem:</label>
        <div class="col-md-8" id="modal-valor"> {{evento.valorHomem}} &nbsp &nbsp<input type='number'  min='0' max='100' ng-model="recibo.quantConviteHomem"/></div>
 
        <label class="col-md-2">Mulher:</label>
        <div class="col-md-8" id="modal-valor"> {{evento.valorMulher}} &nbsp &nbsp<input type='number'  min='0' max='100' ng-model="recibo.quantConviteMulher"/></div>
 
        <label class="col-md-2">Crianca:</label>
        <div class="col-md-8" id="modal-valor"> {{evento.valorCrianca}} &nbsp &nbsp<input type='number'  min='0' max='100' ng-model="recibo.quantConviteCrianca"/></div>
 
        <label class="col-md-2">Idoso:</label>
        <div class="col-md-8" id="modal-valor"> {{evento.valorIdoso}} &nbsp &nbsp<input type='number'  min='0' max='100'  ng-model="recibo.quantConviteIdoso"/></div>
 
        <label class="col-md-2">Estudante:</label>
        <div class="col-md-8" id="modal-valor"> {{evento.valorEstudante}} &nbsp &nbsp<input type='number'  min='0' max='100'  ng-model="recibo.quantConviteEstudante"/></div>
 
    
        <div class="col-md-6"><label>Total Convites:</label><label id="label" ng-init="recibo.totalConvites"> {{recibo.quantConviteHomem+recibo.quantConviteMulher+recibo.quantConviteCrianca+recibo.quantConviteIdoso+recibo.quantConviteEstudante}}</label></div>
        <div class="col-md-6"><label>Valor: </label><label id="label"> 
        {{(recibo.quantConviteHomem*evento.valorHomem)+(recibo.quantConviteMulher*evento.valorMulher)+(recibo.quantConviteCrianca*evento.valorCrianca)+(recibo.quantConviteIdoso*evento.valorIdoso)+(recibo.quantConviteEstudante*evento.valorEstudante)}}</label></div>
    </div>
        
    <h5>Parcelamento</h5>
    
    <div class="row">
        <div class="col-md-12"><label>Data Limite de Pagamento:</label>&nbsp {{evento.dataLimitePag}}</div>
        <div class="col-md-2"><label>Valor</label></div>      
        <div class="col-md-10"><label>Esse valor pode ser dividido em:</label></div>            
    </div>
     
    <div class="row">    
        <div class="col-md-2" ng-show="evento.parcela1!=null"><label>R$&nbsp{{evento.parcela1}}</label></div>      
        <div class="col-md-2"  ng-show="evento.quantParcela1!=null"><label>{{evento.quantParcela1}}X</label></div> 
    </div>
    
    <div class="row"> 
        <div class="col-md-2" ng-show="evento.parcela2!=null"><label>R$&nbsp{{evento.parcela2}}</label></div>      
        <div class="col-md-2" ng-show="evento.quantParcela2!=null"><label>{{evento.quantParcela2}}X</label></div>  
    </div>
    
    <div class="row"> 
        <div class="col-md-2" ng-show="evento.parcela3!=null"><label>R$&nbsp{{evento.parcela3}}</label></div>      
        <div class="col-md-2" ng-show="evento.quantParcela3!=null"><label>{{evento.quantParcela3}}X</label></div>   
    </div>
    
    <div class="row"> 
        <div class="col-md-2" ng-show="evento.parcela4!=null"><label>R$&nbsp{{evento.parcela4}}</label></div>      
        <div class="col-md-2" ng-show="evento.quantParcela3!=null"><label>{{evento.quantParcela4}}X</label></div>   
    </div>
    <div class="row">
        <label class="col-md-10">Quantidade de parcelas que deseja:</label>
        <div class="col-md-2" id="modal-valor"><input type='number'  min='1' max='100' ng-init="recibo.parcelas=1" ng-model="recibo.parcelas"/></div>
    </div>
    <div class="col-md-12" ng-show="recibo.parcelas!=1"><label>Valor da Parcela: R$ </label><label id="label" ng-init="0" ng-model="recibo.valorParcela" value="{{recibo.valorParcela}}"  ng-model="recibo.parcelas">
    {{((recibo.quantConviteHomem*evento.valorHomem)+(recibo.quantConviteMulher*evento.valorMulher)+(recibo.quantConviteCrianca*evento.valorCrianca)+(recibo.quantConviteIdoso*evento.valorIdoso)+(recibo.quantConviteEstudante*evento.valorEstudante))/recibo.parcelas}}</label></div>
        </label></div>
    
    
    <!-- <div class="col-md-6" style="margin-top: 2%; margin-bottom: 5%;"><label>Cartão de crédito</label></div>
    <div class="col-md-6" style="margin-bottom: 5%">
        <div class="toggle">
            <input type="checkbox" id="foo" ng-model="recibo.verCartao" ng-true-value="true" ng-false-value="false">
            <label for="foo"></label>
        </div>
    </div>     -->
    
    <div class="row"> 
        <div class="col-md-6"><input type="text"  class="form-control" ng-model="recibo.cartaoCredito" placeholder="Cartão de Crédito ou Débito" required></div>      
        <div class="col-md-6"><input type="password"  class="form-control" ng-model="recibo.cartaoNum" placeholder="Número do Cartão" required></div>   
    </div>
    <div class="row" style="margin-bottom: 15%"> 
        <div class="col-md-6"><input type="text"  class="form-control" ng-model="recibo.cartaoCod" placeholder="Código de segurança" required></div>      
        <div class="col-md-6"><input type="text"  class="form-control" ng-model="recibo.cartaoDataEx" placeholder="Data de expiração do cartão" required mask="99/99/9999"></div>   
    </div>    
   
</div>
<style>
    .modal-backdrop.in{
        display: none;
    }
</style>    