<div class="container-fluid">

  <div class="row">
    <div class="col-md-12" ><input type="text" class="form-control" ng-model="evento.nome" placeholder="*Nome do Evento" data-error="Preencha este campo" required></div>        
          
    <div class="col-md-3"><input type="text" id="data" class="form-control" ng-model="evento.data" placeholder="*Data" mask="99/99/9999" required></div>                           
    <div class="col-md-2"><input type="text" id="hora" class="form-control" ng-model="evento.hora" placeholder="*Hora" mask="99:99" data-error="Preencha este campo" required></div>
    <div class="col-md-4"><input type="text" id="duracao" class="form-control" ng-model="evento.duracao" placeholder="Duração (Horas/Dia)"  mask="99:99"></div>
    <div class="col-md-3"><input type="text" id="duracao" class="form-control" ng-model="evento.duracaoDia" placeholder="Duração (Dias)"></div>            

    <div class="col-md-6"><input type="text" class="form-control" ng-model="evento.categoria" placeholder="Categoria"></div>      

    <div class="col-md-1">           
      <label>*Tipo</label>
    </div>

    <div class="col-md-5">    
      <select ng-model="evento.tipo" id="select" class="form-control" data-error="Selecione uma opção" required>
        <option value="aberto" ng-selected="true">aberto</option>
        <option value="fechado">fechado</option>   
      </select> 
    </div>

    


    <div class="col-md-6"><input type="text" class="form-control" ng-model="evento.cidade" placeholder="Cidade"></div> 
    <div class="col-md-6"><input type="text" class="form-control" ng-model="evento.bairro" placeholder="Bairro"></div>
    <div class="col-md-6"><input type="text" class="form-control" ng-model="evento.cep" placeholder="CEP" mask="99.999-999"></div>   
    <div class="col-md-8"><input type="text" class="form-control" ng-model="evento.rua" placeholder="Rua"></div>
    <div class="col-md-4"><input type="text" class="form-control" id="numero" ng-model="evento.numero" placeholder="Número"></div>     
    <div class="col-md-6"><input type="text" class="form-control" ng-model="evento.email" placeholder="E-mail"></div>       
    <div class="col-md-6"><input type="text" class="form-control" ng-model="evento.telefone" placeholder="Telefone" mask="(99) 9999-9999"></div>
    <div class="col-md-6"><input type="text" class="form-control" ng-model="evento.capacidadeMax" placeholder="Capacidade Máxima"></div>
    <div class="col-md-6"><input type="text" class="form-control" ng-model="evento.quantConvites" placeholder="Quantidade de convites"></div> 


    <div class="col-md-2" style="margin-top: 2%; margin-bottom: 5%;"><label>Evento gratuito</label></div>
    <div class="col-md-9" style="margin-bottom: 5%">
        <div class="toggle">
            <input type="checkbox" id="gratuito" ng-model="evento.gratuito" ng-true-value="true" ng-false-value="false">
            <label for="gratuito"></label>
        </div>
    </div>

    <div ng-if="!evento.gratuito">

      <div class="col-md-8"><input type="text" class="form-control" id="dataVenda" ng-model="evento.dataVendas" placeholder="Data de término das vendas" mask="99/99/9999"></div>
      <div class="col-md-12"><textarea id="textarea" class="form-control" ng-model="evento.locaisFisicos" placeholder="Digite o enedereço dos locais fisicos de venda (Rua, num, bairro e cidade)"></textarea></div>   

      <div class="col-md-2" style="margin-top: 2%; margin-bottom: 5%;"><label>Venda online</label></div>
      <div class="col-md-9" style="margin-bottom: 5%">
          <div class="toggle">
              <input type="checkbox" id="foo" ng-model="evento.vendaOnline" ng-true-value="true" ng-false-value="false">
              <label for="foo"></label>
          </div>
      </div>
      <div class="col-md-2" style="width: 15%"><h5>Categoria:</h5></div>
      <div class="col-md-10"><h5>Valor:</h5></div>
      <div class="col-md-3" id="valorDiv"><label>Homem:</label></div>
      <div class="col-md-10"><input type="text" class="form-control" id="valor" ng-model="evento.valorHomem" placeholder="R$ 0.00"></div>

      <div class="col-md-3" id="valorDiv"><label>Mulher:</label></div>
      <div class="col-md-10"><input type="text" class="form-control" id="valor" ng-model="evento.valorMulher" placeholder="R$ 0.00"></div>

      <div class="col-md-3" id="valorDiv"><label>Criança:</label></div>
      <div class="col-md-10"><input type="text" class="form-control" id="valor" ng-model="evento.valorCrianca" placeholder="R$ 0.00"></div>

      <div class="col-md-3" id="valorDiv"><label>Idoso:</label></div>              
      <div class="col-md-10"><input type="text" class="form-control" id="valor" ng-model="evento.valorIdoso" placeholder="R$ 0.00"></div>

      <div class="col-md-3" id="valorDiv"><label>Estudante:</label></div>              
      <div class="col-md-10"><input type="text" class="form-control" id="valor" ng-model="evento.valorEstudante" placeholder="R$ 0.00"></div>

      <div class="col-md-12" style="text-align: center"><label>Parcelamento</label></div>
      <div class="col-md-12" style="text-align: center"><label>Defina um valor e a quantidade de parcelas que ele pode ser dividido</label></div>

    
      <div class="col-md-3">
        <input type="text" class="form-control" style="width: 100%" ng-model="evento.parcela1" placeholder="R$ 0.00">
      </div>

      <label class="col-md-1" style="margin-top:3%">Em</label>

      <div class="col-md-8">
          <input type='number'  min='0' max='10' ng-model="evento.quantParcela1"/>
          <label>X</label>
      </div>
      
      <div class="col-md-3">
          <input type="text" class="form-control parcela" ng-model="evento.parcela2" placeholder="R$ 0.00">
      </div>

      <label class="col-md-1" style="margin-top:3%">Em</label>

      <div class="col-md-8">
          <input type='number'  min='0' max='10' ng-model="evento.quantParcela2"/>
          <label>X</label>
      </div>

      <div class="col-md-3">
        <input type="text" class="form-control" ng-model="evento.parcela3" placeholder="R$ 0.00">     
      </div> 

      <label class="col-md-1" style="margin-top:3%">Em</label>
      
      <div class="col-md-8">
          <input type='number'  min='0' max='10' ng-model="evento.quantParcela3"/>
          <label>X</label>
      </div>

      <div class="col-md-3">
        <input type="text" class="form-control"  ng-model="evento.parcela4" placeholder="R$ 0.00">
      </div>  

      <label class="col-md-1" style="margin-top:3%">Em</label>

      <div class="col-md-8">
          <input type='number'  min='0' max='10' ng-model="evento.quantParcela4"/>
          <label>X</label>
      </div>   
      

    <div class="col-md-12"><label>Data limite do pagamento</label></div> 
    <div class="col-md-12"><h6>Dependendo do valor do ingresso alguns eventos permitem que o pagamento seja realizado após a venda</h6></div>         
    <div class="col-md-5"><input type="text" id="dataLimitePag" class="form-control" ng-model="evento.dataLimitePag" mask="99/99/9999"></div>
    <br>
  </div>
  <div class="col-md-12"><label>Descrição</label></div>
  <div class="col-md-12"><textarea id="textarea" class="form-control" ng-model="evento.descricao" placeholder="Descrição"></textarea></div>
  <br> 

  </div>
</div>

<style>
    .modal-backdrop.in{
    display: none;
  }
</style>
          