<div class="container-fluid">
  <div class="row">              
    <div class="col-md-12"><label>Nome:</label>&nbsp {{evento.nome}}</div>
    <div class="col-md-6"><label>Cidade:</label>&nbsp{{evento.cidade}}</div>
    <div class="col-md-6"><label>Tipo:</label>&nbsp {{evento.tipo}}</div>
    <div class="col-md-6"><label>Telefone:</label>&nbsp {{evento.telefone}}</div>
    <div class="col-md-6"><label>Email:</label>&nbsp {{evento.email}}</div>
    <div class="col-md-6"><label>Duração (dias):</label>&nbsp {{evento.duracaoDia}}</div>
  </div>
</div>

<style>
  .modal-backdrop.in{
    display: none;
  }
</style>
