<link rel="stylesheet" href="css/lista_eventos.css">

<div class="input-group stylish-input-group">
    <input type="text" class="form-control"  placeholder="Pesquisar evento" ng-model="pesquisar">
    <span class="input-group-addon">
        <button type="submit">
            <span class="glyphicon glyphicon-search"></span>
        </button>  
    </span>
</div> 

<div class="panel panel-default" ng-init="listarEventosAdicionados()"  ng-controller="ReciboController">
  <div class="panel-heading">
    <h3 class="panel-title">Eventos que vou participar</h3>
  </div>

  <div class="panel-body">     
    <div ng-repeat="evento in eventos| filter:pesquisar">     			
      <div class="formListarEventos"></div>
      
      <div class="row">
    		<a class="btn btn-primary" href="#/detalhes/evento/adicionado/{{evento.idEvento}}">Ver Detalhes</a>
      </div> 
      <hr> 	
    </div>
  </div> 
</div>

<style>
  .modal-backdrop.in{
    display: none;
  }
</style>

