<link rel="stylesheet" href="css/lista_eventos.css">

<div class="input-group stylish-input-group">
    <input type="text" class="form-control"  placeholder="Pesquisar evento" ng-model="pesquisar">
    <span class="input-group-addon">
        <button type="submit">
            <span class="glyphicon glyphicon-search"></span>
        </button>  
    </span>
</div> 

<div class="panel panel-default" ng-init="listarEventosSalvos()" ng-controller="EventosSalvosController">
  <div class="panel-heading">
    <h3 class="panel-title">Eventos</h3>
  </div>

  <div class="panel-body">    
    <div ng-repeat="evento in eventos| filter:pesquisar">     			
      <div class="formListarEventos"></div>
      <br>
      <br>
      <div class="row">
    		<a class="btn btn-primary" href="#/detalhes/evento/{{evento.id}}"  style="margin-left:70%">Ver Detalhes</a>
      </div>  
      <br>
      <div class="row">
    		<a id="btnRemove" class="btn btn-primary" ng-click="deletarEventoSalvo(evento.id)" style="margin-left:70%; margin-top:5%">Excluir</a>
      </div> 
      <hr>
    </div>
  </div>
</div>

<style>
  .modal-backdrop.in{
    display: none;
  }
</style>