<link rel="stylesheet" href="css/lista_eventos.css">

<div class="input-group stylish-input-group">
    <input type="text" class="form-control"  placeholder="Pesquisar evento" ng-model="pesquisar">
    <span class="input-group-addon">
        <button type="submit">
            <span class="glyphicon glyphicon-search"></span>
        </button>  
    </span>
</div> 

<div class="panel panel-default"  ng-init="listarEventosCadastrados()">
  <div class="panel-heading">
    <h3 class="panel-title">Evento</h3>
  </div>
  <div class="panel-body">    
    <div ng-repeat="evento in eventos| filter:pesquisar">     			
      <div class="formListarEventosCadastrados"></div>
        <div class="row">
    			<a class="btn btn-primary" href="#/detalhes/evento/cadastrado/{{evento.id}}">Ver Detalhes</a>
        </div>
        <hr>  	
    </div>    
  </div>
</div>

<style>
  .modal-backdrop.in{
    display: none;
  }
</style>