<link rel="stylesheet" href="css/lista_vagas.css">


<div class="input-group stylish-input-group">
    <input type="text" class="form-control"  placeholder="Pesquisar evento" ng-model="pesquisar">
    <span class="input-group-addon">
        <button type="submit">
            <span class="glyphicon glyphicon-search"></span>
        </button>  
    </span>
</div>  


<div class="panel panel-default" ng-controller="VagasSalvasController" "width: 60%; height: 100%; margin-left: 0px" ng-init="listarVagasSalvas()">
    <div class="panel-heading">
      <h3 class="panel-title">Vagas</h3>
    </div>        
    <div class="panel-body">    
      <div ng-repeat="vaga in vagas">     			
        <div class="formListarVagasSalvas" style="margin-bottom: 5%"></div>                             
        <a class="btn btn-primary" id="btnRemove" ng-click="deletarVagaSalva(vaga.id)">Excluir</a>  
        <a class="btn btn-primary" href="#/detalhes/evento/{{vaga.idEvento}}">Ver Evento</a>        
       </div>           
      </div>
    </div>

<style>
  .modal-backdrop.in{
    display: none;
 }
</style>