<link rel="stylesheet" href="css/busca_eventos.css">

<div class="input-group stylish-input-group">
    <input type="text" class="form-control"  placeholder="Pesquisar evento" ng-model="pesquisar">
    <span class="input-group-addon">
        <button type="submit">
            <span class="glyphicon glyphicon-search"></span>
        </button>  
    </span>
</div>    
  
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Eventos</h3>
  </div>

  <div class="panel-body" ng-init="listarEventos()">    
    <div ng-repeat="evento in eventos| filter:pesquisar">     			
      <div class="formListarEventos"></div>
      
      <div class="row">
    		<a class="btn btn-primary" href="#/detalhes/evento/{{evento.id}}">Ver Detalhes</a>
    	</div>  	
    </div>
  </div>
</div>

<style>
  .modal-backdrop.in{
    display: none;
  }
</style>