<link rel="stylesheet" href="css/login.css">
<div class="container">
    <div class="row">
        <div class="col-md-6" id="loginConteudo">
            <div class="wrap" id="wrap">
                <p class="form-title">Login</p>
                <form class="login" ng-submit="loginUsuario(user)">
                    <input type="text" placeholder="E-mail" ng-model="user.username"/>
                    <input type="password" placeholder="Senha" ng-model="user.password"/>
                    <h5>{{message}}</h5>
                    <input type="submit" value="Entrar" class="btn btn-success btn-sm"/>                
                    <div class="row" id="cadastrar-se">                                               
                        <a href="#/add/usuario">Cadastrar-se</a>                        
                    </div>                
                </form>                
            </div>
        </div>
    </div>
</div>