<link rel="stylesheet" href="css/sobre.css">
<div class="container-fluid">
    <div class="row">    
        <h2 class="intro-text text-center">Sobre Nós</h2>
        <hr>
        <div class="col-md-5">
            <img class="img-responsive" src="img/logotipo1.png" alt="">
        </div>
        <div class="col-md-6">
            <p>
                Enjoy It nasceu em agosto de 2017 a partir da proposta de aproximar divulgadores de eventos e seus frequentadores 
                através de um canal único de comunicação e voltado para tal fim, o que resultou em uma plataforma simples, intuitiva e de grande usabilidade para seus usuários.
            
                Portanto, o objetivo do Enjoy It é aproximar divulgadores de eventos ao seu público permitindo a compra de convites, gerenciamento da quantidade de convidados e ainda a divulgação de vagas de serviços para tal evento.
            </p>
        </div>
    </div>
    <hr>
</div>
    <!-- <div class="row">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Equipe
            </h2>
            <hr>
        </div> -->
        <!-- <div class="col-sm-4 text-center">
            <img class="img-responsive" src="img/func2.png" alt="">
            <h3>Maria Sampaio<br>
                <small>Esteticista</small>
            </h3>
        </div>
        <div class="col-sm-4 text-center">
            <img class="img-responsive" src="img/func3.png" alt="">
            <h3>João Ferreira<br>
                <small>Cabelereiro</small>
            </h3>
        </div>
        <div class="col-sm-4 text-center">
            <img class="img-responsive" src="img/func1.png" alt="">
            <h3>Cláudia da Silva<br>
                <small>Manicure</small>
            </h3>
        </div> 
    </div>-->



